@font-face {
    font-family: 'MyFont'; /* Choose a name for your font family */
    src: url('Cristone.ttf') format('truetype'); /* Path to your TTF file */
    font-weight: normal; /* Optional: Define font weights */
    font-style: normal; /* Optional: Define font styles */
}

html, body {
    font-family: 'MedievalSharp', sans-serif; /* Apply the custom font */
    background-color: var(--black-dark);
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide default scrollbars */
}

:root {
    --black-dark: #000A14;
    --black: #001021;
    --bronze: #665d47;
    --silver: #c0c0c0;
    --gold: #ffe44c;
    --red: #ff0000;

    
    --silver-half: #c0c0c050;
    --white: #ffffff;
}

.llibre {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: none;
}

.llibre::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit-based browsers */
}

.pagina {
    width: 100vw; /* Full viewport width */
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    border: none;
    flex-shrink: 0; /* Prevent shrinking */

    z-index: 0;
}


* {
    user-select: none; /* Standard syntax */
}