html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent default scrollbars */
    font-family: monospace;

    background-color: #111;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.llibre {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
}

/* Hide the scrollbar while keeping the content scrollable */
.llibre::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit-based browsers (Chrome, Safari) */
}
.llibre {
    -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.pagina {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    flex-shrink: 0; /* Prevent sections from shrinking */
    padding: 0;
}
